<div class="dashboard-container">

  <div class="dashboard-header">
    <h1>Instant Admin Dashboard</h1>
    <p>Manage your delivery platform efficiently</p>
  </div>

  <div class="stats-cards">

    <div class="card clickable" (click)="goToOrders()">
      <h2>120</h2>
      <p>Orders</p>
    </div>

    <div class="card clickable" (click)="goToAppProduct()">
      <h2>45</h2>
      <p>Add Products</p>
    </div>

    <div class="card clickable" (click)="goToAppStock()">
      <h2>12</h2>
      <p>Add Stock</p>
    </div>

    <div class="card clickable" >
      <h2>₹25,000</h2>
      <p>Today's Revenue</p>
    </div>
    <div class="card clickable" (click)="goToAppInventory()">
      <h2>₹25,000</h2>
      <p>Inventory</p>
    </div>

  </div>

  <div class="dashboard-welcome">
    <h2>Welcome to Instant Admin Panel 🚀</h2>
    <p>
      Use the left menu to manage products, orders, riders and customers.
    </p>
  </div>

</div>