<div class="dashboard-container">

  <div class="dashboard-header">
    <h1>Instant Admin Dashboard</h1>
    <p>Manage your delivery platform efficiently</p>
  </div>

  <div class="stats-cards">

    <div class="card clickable" (click)="goToOrders()">
      <i class="fa fa-list" aria-hidden="true" style="color:#fe611d"></i>
      <p>Orders</p>
    </div>

    <div class="card clickable" (click)="goToAppProduct()">
      <i class="fa fa-archive" aria-hidden="true"  style="color:#fe611d"></i>
      <p>Add Products</p>
    </div>

    <div class="card clickable" (click)="goToAppStock()">
      <i class="fa fa-archive" aria-hidden="true"  style="color:#fe611d"></i>
      <p>Add Stock</p>
    </div>

    <div class="card clickable" (click)="goToAppInventory()">
      <i class="fa fa-home" aria-hidden="true"  style="color:#fe611d"></i>
      <p>Inventory</p>
    </div>

  </div>

  <div class="dashboard-welcome">
    <h2>Welcome to Instant Admin Panel 🚀</h2>
    <p>
      Use the left menu to manage products, orders, riders and customers.
    </p>
  </div>

</div>