<div class="page-container">

  <div class="page-header">
    <h2>Category</h2>
    <button class="add-btn" (click)="openAddModal()">+ Add Category</button>
  </div>

  <div class="search-box">
    <input
      type="text"
      placeholder="Search cat..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearch()" />
  </div>

  <div class="table-card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of pagedCats; let i=index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ cat.name }}</td>
          <td>
            <button class="edit" (click)="openEditModal(cat)">Edit</button>
            <button class="delete" (click)="deleteCat(cat.id)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="pagedCats.length === 0">
          <td colspan="3" style="text-align:center; padding: 20px;">No categories found</td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>

      <button
        *ngFor="let p of pages"
        (click)="goToPage(p)"
        [class.active]="p === currentPage">
        {{ p }}
      </button>

      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">

      <div class="modal-header">
        <h3>{{ modalType === 'add' ? 'Add Category' : 'Edit Category' }}</h3>
        <span class="close-btn" (click)="showModal=false">×</span>
      </div>

      <div class="modal-body">
        <label>Category Name</label>
        <input type="text" [(ngModel)]="catName" placeholder="Enter Category Name" />
        <label>Category Image</label>
        <input type="file" (change)="onFileSelected($event)" />
      </div>
      <div class="modal-actions">
        <button class="save-btn" (click)="save()">
          {{ modalType === 'add' ? 'Add Category' : 'Update Category' }}
        </button>

        <button class="cancel-btn" (click)="showModal=false">
          Cancel
        </button>
      </div>

    </div>
  </div>

</div>