<div class="page-container">

  <div class="page-header">
    <h2>Brand Management</h2>
    <button class="add-btn" (click)="openAddModal()">+ Add Brand</button>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Search brand..." />
  </div>

  <div class="table-card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands; let i=index">
          <td>{{ brand.id }}</td>
          <td>{{ brand.name }}</td>
          <td>
            <button class="edit" (click)="openEditModal(brand)">Edit</button>
            <button class="delete" (click)="deleteBrand(brand.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

 <!-- Modal -->
<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">

    <div class="modal-header">
      <h3>{{ modalType === 'add' ? 'Add Brand' : 'Edit Brand' }}</h3>
      <span class="close-btn" (click)="showModal=false">×</span>
    </div>

    <div class="modal-body">
      <label>Brand Name</label>
      <input type="text" [(ngModel)]="brandName" placeholder="Enter Brand Name" />
    </div>

    <div class="modal-actions">
      <button class="save-btn" (click)="save()">
        {{ modalType === 'add' ? 'Add Brand' : 'Update Brand' }}
      </button>

      <button class="cancel-btn" (click)="showModal=false">
        Cancel
      </button>
    </div>

  </div>
</div>

</div>