<div class="orders-container">
  <h1 class="page-title">Orders</h1>

  <!-- Tabs -->
  <div class="tabs">
    <button (click)="filterOrders('all')" [class.active]="selectedTab === 'all'">All</button>
    <button (click)="filterOrders('confirmed')" [class.active]="selectedTab === 'confirmed'">Confirmed</button>
    <button (click)="filterOrders('pending')" [class.active]="selectedTab === 'pending'">Pending</button>
  </div>

  <!-- List Header -->
  <div class="list-header">
    <span>Order ID</span>
    <span>Status</span>
    <span>Amount</span>
    <span>Action</span>
  </div>

  <!-- Orders List -->
  <div class="order-row" *ngFor="let order of filteredOrders; let i = index">
    <span class="order-id">#{{i+1}}</span>
    <span class="status" [ngClass]="order.order_status.toLowerCase()">
      {{order.order_status | lowercase}}
    </span>
    <span class="amount">₹{{order.total_amount}}</span>
    <span>
      <!-- Dynamic button -->
      <!-- Dynamic button -->
      <button class="view-btn" *ngIf="order.order_status === 'PENDING'" (click)="updateStatus(order, 'CONFIRMED')">
        Confirm
      </button>

      <button class="view-btn" *ngIf="order.order_status === 'CONFIRMED'" (click)="updateStatus(order, 'SHIPPED')">
        Ship
      </button>

      <button class="view-btn" *ngIf="order.order_status === 'SHIPPED'" disabled>
        Shipped
      </button>
    </span>
  </div>
</div>
<!-- Page Loader -->
<div class="loader" *ngIf="loading">
  Updating status...
</div>